body{
  font-size: 1em;
  background-color: #FFFFFF;
}
nav img{
  border-radius: 100%;
  width: 5em;

}

nav{
  width: 100%;
}
#page-header{
  /* padding: top right bottom left*/
  padding: 0 0 0 1em ;
  color:BLACK;
  font-size: 3em;
  font-family: "Arial", Arial, sans-serif;
  /* font-family:freight-sans-pro;src:url(https://use.typekit.net/af/ba2099/000000000000000000010b58/27/l?subset_id=2&fvd=n3&v=3);  */
}
a{
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
  text-decoration: none;
}

a:hover{
  font-weight: bold;
}
#main-side-bar{
  display: flex;
  padding: 0 0 0 0.5em;
  flex-direction: column;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 1em;
  float: left;
  color:BLACK;
  font-family: "Arial", Arial, sans-serif;
}

#main-side-bar a{
  margin: 0 0 0.5em 0;
}
.navlogos{
  float:right;
}

footer{
  width: 100px;
}

.project-grid {
    display: grid;
    margin: 0 1em 1em 10em;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    grid-template-columns: 25vw 25vw 25vw;
    /* grid-template-rows:  */
  }

.project-grid img, iframe{
  height: 25vw;
  width: 100%;
  object-fit: cover;
}
#page-footer{
  margin: 1em 1em 1em 1em;
  width: 100%;
  font-size: 0.7em;
  float: left;
  color:BLACK;
  font-family: "Arial", Arial, sans-serif;
}

/* .project-grid iframe{
  height: 10vh;
  width: 10vw;
} */
