body{
  font-size: 1em;
<<<<<<< HEAD
  background-color: white;
=======
  background-color: #fcfcfc;
>>>>>>> 58b3cd8b4856b091e7be03e8a55b0b4d1fd9587a
}
nav img{
  border-radius: 100%;
  width: 5em;

}
/* my adobe font:
  freight
 https://fonts.adobe.com/fonts/freight-sans#fonts-section
 */
nav{
  width: 100%;
  position: fixed;
  min-width: 10%;
  top: 0px;
  left: 0px;
  max-width: 25%;
  height: 100%;
}

.nav{
}
header{
  /* padding: top right bottom left*/
  padding: 0 0 0 1em ;
  color:BLACK;
  font-size: 3em;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
    /*  font-family: "Arial", Arial, sans-serif;*/
  /* font-family:freight-sans-pro;src:url(https://use.typekit.net/af/ba2099/000000000000000000010b58/27/l?subset_id=2&fvd=n3&v=3);  */
}
#navbar a{
  text-decoration: none;
  color: black;
}

#navbar a:visited{
  color: black;
  text-decoration: none;
}

#navbar a:hover{
  font-weight: bold;
}
#navbar{
  display: flex;
  padding: 0 0 0 0.5em;
  flex-direction: column;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 1em;
  float: left;
  color:BLACK;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
}

#navbar a{
  margin: 0 0 0.5em 0;
}
.navlogos{
  float: right;
}

footer{
  width: 100px;
}

.project-tile {
    display: grid;
    margin: 0 1em 1em 10em;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    grid-template-columns: 25vw 25vw 25vw;
    /* grid-template-rows:  */
  }

.project-tile img, iframe{
  height: 25vw;
  width: 100%;
  object-fit: cover;
}
<<<<<<< HEAD
h2{
padding: 0 0 0 1em ;
color:BLACK;
font-size: 2em;
text-align: center;
font-family: "Arial", Arial, sans-serif;
}
footer a{
font-size: 2.4rem;
text-shadow: 2px 2px 1px #1f1f1f;
transition: transform 0.3s ease-out;

display: flex;
justify-content: center;
=======
#page-footer{
  margin: 1em 1em 1em 1em;
  width: 100%;
  font-size: 0.7em;
  float: left;
  color:BLACK;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
}
>>>>>>> 58b3cd8b4856b091e7be03e8a55b0b4d1fd9587a

}
@media {

}
/* .project-grid iframe{
  height: 10vh;
  width: 10vw;
} */
