body{
  font-size: 1em;
  background-color: pearl;
  margin: 0;
}
nav img{
  border-radius: 100%;
  width: 5em;

}
/* my adobe font:
  freight
 https://fonts.adobe.com/fonts/freight-sans#fonts-section
 */
nav{
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: white;
  box-shadow: 0px 0px 10px black;
  margin: 0px;
}

nav div a{
  text-decoration: none;
  color: black;
  padding: 10px;
  
}

#navbar a:visited{
  color: black;
  text-decoration: none;
}

#navbar a:hover{
  font-weight: bold;
}
#navbar{
 
  font-size: 1em;
  color:BLACK;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.navlogos{ 
  font-size: 2em;
  float: right;
  padding: 10px 50px 10px 0px;
  }
.navlinks{
  float: left;
  padding: 20px 0px 18px 25px;
  
}

#welcome-section{
  /* padding: top right bottom left*/
  padding: 0 0 0 1em ;
  color:BLACK;
  text-align: center;
  font-size: 3em;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  height: 100vh
}
#welcome-section p{
font-size: 10;
}


footer{
  width: 100px;
}

.project-tile {
    display: grid;
    margin: 0 1em 1em 10em;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    grid-template-columns: 25vw 25vw 25vw;
    /* grid-template-rows:  */
  }

.project-tile img, iframe{
  height: 25vw;
  width: 100%;
  object-fit: cover;
}

h2{
padding: 0 0 0 1em ;
color:BLACK;
font-size: 2em;
text-align: center;
font-family: "Arial", Arial, sans-serif;
}
footer a{
font-size: 2.4rem;
text-shadow: 2px 2px 1px #1f1f1f;
transition: transform 0.3s ease-out;

display: flex;
justify-content: center;

#page-footer{
  margin: 1em 1em 1em 1em;
  width: 100%;
  font-size: 0.7em;
  float: left;
  color:BLACK;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
}


}
@media {

}
/* .project-grid iframe{
  height: 10vh;
  width: 10vw;
} */
